<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webapp.dao.IRequestHistoryMapper">

    <!-- 通用查询结果列-->
    <resultMap id="RequestHistoryResultMap" type="com.example.webapp.domain.po.RequestHistory">
        <id column="id" property="id"/>
        <result column="ip" property="ip"/>
        <result column="gmt_create" property="gmtCreate"/>
    </resultMap>
    <select id="getTodayRecord" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM `request_history` WHERE to_days(gmt_create) = to_days(NOW())
	</select>

    <select id="getMonthRecord" resultType="java.lang.Integer">
	SELECT count(*) FROM `request_history` WHERE DATE_FORMAT( gmt_create, '%Y%m' ) = DATE_FORMAT( CURDATE() , '%Y%m' )
	</select>

    <select id="getTotalRecord" resultType="java.lang.Integer">
	SELECT COUNT(*) FROM `request_history`
	</select>


</mapper>